extends layout

block content
    a(href='/') 主页
    h1 自动吟诗器
    p#raw(hidden='') #{content}

    h2#title
    h3#author

    br
    a(href='javascript:location.reload(true)') 再吟一首

    script(type='text/javascript').
        var raw = $('#raw').text();
        $('#title').text(extractTitle(raw));
        $('#author').text(extractAuthor(raw));
        createBody(raw);