extends layout

block content
    a(href='/') 主页
    h1 交互中国历史地图
    br
    p#yearsJson(hidden='') #{yearsJson}

    // Map renderer
    img#map

    // Slide bar
    div#slider-bar

    // Year renderer
    p
        p#amount
        div#output

    br
    br
    p 图片源：布哈林的历史地图。
    p 布哈林的主页：#[a(href="http://www.acfun.cn/u/350475.aspx#") A站链接]
        a(href='http://www.acfun.cn/u/350475.aspx#', target='_blank')
    p 后端支持:
        a(href='mailto:quzhi65222714@gmail.com?Subject=屈直个人工具%20Support%20Request', target='_blank') 屈直
    script(src='/javascripts/chinese-map.js')