extends layout

block content
    h1 屈直个人工具
    br
    button(onclick="move('/auto-poet')") 自动吟诗器
    br
    br
    p 后端支持:
    a(href='mailto:quzhi65222714@gmail.com?Subject=屈直个人工具%20Support%20Request', target='_blank') 屈直
    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src="/javascripts/openWindow.js")
