doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        link(rel='stylesheet' href='/resources/demos/style.css')
        //link(rel="stylesheet" href='/css/magnify.css')
    script(src='javascripts/jquery-3.1.1.min.js')
    script(src='javascripts/jquery-ui.js')
    script(src='javascripts/jquery.zoom.js')
    body
        block content
